<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Messenger Monitor{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,{{ include('@ZenstruckMessengerMonitor/icon.svg.twig')|url_encode }}">

    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <style>
            .card-alert {
                border: 0;
                border-radius: 0;
            }

            .card-table {
                margin-bottom: 0;
            }
            .card-table tbody tr:last-child td, .card-table tbody tr:last-child th {
                border-bottom: 0;
            }
            .card-table tbody tr:last-child td:first-child, .card-table tbody tr:last-child th:first-child {
                border-bottom-left-radius: var(--bs-card-border-radius);
            }
            .card-table tbody tr:last-child td:last-child {
                border-bottom-right-radius: var(--bs-card-border-radius);
            }
        </style>
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <span class="navbar-brand mb-0 h1">
                {{ include('@ZenstruckMessengerMonitor/icon.svg.twig', {size: 24, class: 'd-inline-block align-text-top'}) }}
                {{ block('title') }}
            </span>
            {% block navbar_links %}{% endblock %}
        </div>
    </nav>
{% endblock %}
{% block header %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-5">
                <div class="card position-relative mb-3">
                    {% if workers.running %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                            {{ workers.count }} <span class="visually-hidden">workers running</span>
                        </span>
                    {% else %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ workers.count }} <span class="visually-hidden">No workers running</span>
                        </span>
                    {% endif %}

                    <div class="card-header">
                        Worker Status
                    </div>

                    {% if workers.running %}
                        <div class="table-responsive">
                            <table class="table card-table table-striped align-text-top text-nowrap">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th class="text-center">Status</th>
                                    <th>Transports</th>
                                    <th class="text-center"># Handled</th>
                                    <th class="text-center">Memory</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for worker in workers %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td class="text-center">
                                            <span class="badge align-text-top text-bg-{{ worker.isIdle ? 'success' : 'primary' }}">
                                                {{ worker.status }}
                                            </span>
                                        </td>
                                        <td>
                                            {% for transport in worker.transports %}
                                                <span class="badge align-text-top text-bg-secondary">{{ transport }}</span>
                                            {% endfor %}
                                        </td>
                                        <td class="text-center">
                                            {{ worker.messagesHandled }}
                                        </td>
                                        <td class="text-center">
                                            {{ worker.memoryUsage }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="card-alert card-text alert alert-danger d-flex align-items-center" role="alert">
                            <svg fill="currentcolor" height="1em" width="1em" class="flex-shrink-0 me-2" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <div>
                                There are no workers running.
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card position-relative mb-3">
                    <div class="card-header">
                        Transports
                    </div>

                    {% if not transports|length %}
                        <div class="card-alert card-text alert alert-danger d-flex align-items-center" role="alert">
                            <svg fill="currentcolor" height="1em" width="1em" class="flex-shrink-0 me-2" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <div>
                                There are transports configured.
                            </div>
                        </div>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table card-table table-striped align-text-top text-nowrap">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="text-center">Queued Messages</th>
                                    <th class="text-center">Workers</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transport in transports %}
                                    <tr>
                                        <td>
                                            <span class="badge align-text-top text-bg-secondary">{{ transport.name }}</span>
                                        </td>
                                        <td class="text-center">
                                            {% if transport.countable %}
                                                {{ transport.count }}
                                            {% else %}
                                                <em class="text-secondary">n/a</em>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ transport.workers|length }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
                <div class="card position-relative mb-3">
                    <div class="card-header">
                        Statistics Snapshot <em class="text-secondary">(Last 24 Hours)</em>
                    </div>
                    <div class="table-responsive">
                        <table class="table card-table table-striped align-text-top text-nowrap">
                            <tbody>
                            <tr>
                                <th class="text-end w-50">Messages Processed</th>
                                <td>
                                    {{ snapshot.totalCount }}
                                    {% if snapshot.failureCount %}
                                        <em>(<strong class="text-danger">{{ snapshot.failureCount }}</strong> failures)</em>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-end">Fail Rate</th>
                                <td>
                                    {% set failRate = (snapshot.failRate * 100)|round %}
                                    {% if failRate < 5 %}
                                        <span class="text-success">{{ failRate }}%</span>
                                    {% elseif failRate < 10 %}
                                        <span class="text-warning">{{ failRate }}%</span>
                                    {% else %}
                                        <strong class="text-danger">{{ failRate }}%</strong>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-end">Average Wait Time</th>
                                <td>
                                    {{ snapshot.averageWaitTime|round }}s
                                </td>
                            </tr>
                            <tr>
                                <th class="text-end">Average Handling Time</th>
                                <td>
                                    {{ snapshot.averageHandlingTime|round }}s
                                </td>
                            </tr>
                            <tr>
                                <th class="text-end">Handled Per Minute</th>
                                <td>
                                    {{ snapshot.handledPerMinute|round(2) }}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-end">Handled Per Hour</th>
                                <td>
                                    {{ snapshot.handledPerHour|round(2) }}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-end">Handled Per Day</th>
                                <td>
                                    {{ snapshot.handledPerDay|round(2) }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card position-relative mb-3">
                    <div class="card-header">
                        Recently Processed Messages <em class="text-secondary">(Last 5)</em>
                    </div>

                    {% if not snapshot.totalCount %}
                        <div class="card-alert card-text alert alert-warning d-flex align-items-center" role="alert">
                            <svg fill="currentcolor" height="1em" width="1em" class="flex-shrink-0 me-2" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                            </svg>
                            <div>
                                No messages.
                            </div>
                        </div>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table card-table table-striped align-text-top text-nowrap">
                                <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Transport</th>
                                    <th class="text-center">Timing</th>
                                    <th>Tags</th>
                                    <th>Handled At</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for message in snapshot.messages.take(5) %}
                                    <tr>
                                        <td>
                                            <abbr title="{{ message.type }}">{{ message.type.shortName }}</abbr>
                                        </td>
                                        <td>
                                            <span class="badge align-text-top text-bg-secondary">{{ message.transport }}</span>
                                        </td>
                                        <td class="text-center">
                                            <small class="text-secondary">Queue:</small> {{ message.timeInQueue }}s <span class="text-secondary">|</span>
                                            <small class="text-secondary">Handle:</small> {{ message.timeToHandle }}s
                                        </td>
                                        <td>Tags</td>
                                        <td>Handled At</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <footer class="p-5 bg-body-secondary text-center small">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-1 text-danger" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        Enjoying this tool? Consider <a href="https://github.com/sponsors/kbond" target="_blank">sponsoring me (Kevin Bond) on GitHub</a>!
    </footer>
{% endblock %}
</body>
</html>
