<div class="modal-header">
    <h1 class="modal-title fs-5 d-flex align-items-center" id="message-details-modal-label">
        {% if message.isFailure %}
            <svg fill="currentcolor" height="1em" width="1em" class="me-1 align-text-bottom text-danger" role="img" aria-label="Error:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        {% else %}
            <svg fill="currentcolor" height="1em" width="1em" class="me-1 align-text-bottom text-success" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        {% endif %}
        <div class="ms-2">
            <abbr title="{{ message.type }}">{{ message.type.shortName }}</abbr>
            {% if message.description %}
                <small class="text-secondary">{{ message.description }}</small>
            {% endif %}
        </div>
    </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    {% if message.isFailure %}
        <div class="alert alert-danger">
            <strong><abbr title="{{ message.failure.class }}">{{ message.failure.shortName }}</abbr></strong>:
            {{ message.failure.description }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-5">
            <div class="card mb-3">
                <div class="card-header">Details</div>
                <div class="table-responsive">
                    <table class="table card-table table-striped mb-0 align-middle">
                        <tbody>
                        <tr>
                            <th class="text-end text-nowrap">Transport</th>
                            <td>
                                <a href="{{ path('zenstruck_messenger_monitor_history', app.request.query.all|merge({transport: message.transport})) }}" class="badge align-text-top text-bg-secondary">{{ message.transport }}</a>
                            </td>
                        </tr>
                        {% if message.results|length != 1 %}
                            <tr>
                                <th class="text-end">Handlers</th>
                                <td>
                                    {{ message.results|length }}

                                    {% if message.results.failures|length %}
                                        <em>(<strong class="text-danger">{{ message.results.failures|length }}</strong> failed)</em>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th class="text-end text-nowrap">Attempt</th>
                            <td>
                                {{ message.attempt }}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end text-nowrap">Tags</th>
                            <td>
                                {% for tag in message.tags.expand %}
                                    <a href="{{ path('zenstruck_messenger_monitor_history', app.request.query.all|merge({tag: tag})) }}" class="badge align-text-top text-bg-secondary">{{ tag }}</a>
                                {% else %}
                                    <span class="text-secondary">-</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end text-nowrap">Time in Queue</th>
                            <td>
                                {% if helper.canFormatDuration %}
                                    <abbr title="{{ message.timeInQueue }}s">{{ helper.timeFormatter.formatDuration(message.timeInQueue) }}</abbr>
                                {% else %}
                                    {{ message.timeInQueue }}s
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end text-nowrap">Time to Handle</th>
                            <td>
                                {% if helper.canFormatDuration %}
                                    <abbr title="{{ message.timeToHandle }}s">{{ helper.timeFormatter.formatDuration(message.timeToHandle) }}</abbr>
                                {% else %}
                                    {{ message.timeToHandle }}s
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end text-nowrap">Dispatched At</th>
                            <td>
                                {% if helper.timeFormatter %}
                                    <abbr title="{{ message.dispatchedAt|date('c') }}">{{ helper.timeFormatter.formatDiff(message.dispatchedAt) }}</abbr>
                                {% else %}
                                    {{ message.dispatchedAt|date('c') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end text-nowrap">Received At</th>
                            <td>
                                {% if helper.timeFormatter %}
                                    <abbr title="{{ message.receivedAt|date('c') }}">{{ helper.timeFormatter.formatDiff(message.receivedAt) }}</abbr>
                                {% else %}
                                    {{ message.receivedAt|date('c') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end text-nowrap">Finished Handling At</th>
                            <td>
                                {% if helper.timeFormatter %}
                                    <abbr title="{{ message.finishedAt|date('c') }}">{{ helper.timeFormatter.formatDiff(message.finishedAt) }}</abbr>
                                {% else %}
                                    {{ message.finishedAt|date('c') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end text-nowrap">Memory Usage</th>
                            <td>
                                {{ message.memoryUsage }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card mb-3">
                <div class="card-header">
                    Input data
                </div>
                <table class="table card-table table-striped align-middle" style="table-layout: fixed; width: 100%;">
                    {% for key,value in message.input %}
                        <tr>
                            <th class="text-end w-25">{{ key }}</th>
                            <td>
                                {% if value is same as true %}
                                    <code>true</code>
                                {% elseif value is same as false %}
                                    <code>false</code>
                                {% elseif value is same as null %}
                                    <code>null</code>
                                {% elseif value is iterable %}
                                    <pre class="mb-0" style="white-space: pre; max-height: 340px; overflow: auto;">{{ value|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                                {% elseif value matches "\/\n/" %}
                                    <pre class="mb-0" style="white-space: pre; max-height: 340px; overflow: auto;">{{ value }}</pre>
                                {% else %}
                                    <code>{{ value }}</code>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-center text-secondary">No input data.</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            {% for result in message.results %}
                <div class="card mb-3">
                    <div class="card-header">
                        {% if result.isFailure %}
                            <svg fill="currentcolor" height="1em" width="1em" class="me-1 align-text-bottom text-danger" role="img" aria-label="Error:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            <abbr title="{{ result.failure }}"><code>{{ result.failure.shortName }}</code></abbr>
                        {% else %}
                            <svg fill="currentcolor" height="1em" width="1em" class="me-1 align-text-bottom text-success" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            <code>
                                <abbr title="{{ result.handler }}">{{ result.handler.shortName }}</abbr>{% if result.handler.description %}::{{ result.handler.description }}(){% endif %}
                            </code>
                            Results
                        {% endif %}
                    </div>
                    {% if result.isFailure %}
                        <div class="alert card-alert alert-danger mb-0">
                            {{ result.failure.description }}
                        </div>
                    {% endif %}
                    <table class="table card-table table-striped align-middle" style="table-layout: fixed; width: 100%;">
                        {% for key,value in result.data %}
                            <tr>
                                <th class="text-end w-25">{{ key }}</th>
                                <td>
                                    {% if value is same as true %}
                                        <code>true</code>
                                    {% elseif value is same as false %}
                                        <code>false</code>
                                    {% elseif value is same as null %}
                                        <code>null</code>
                                    {% elseif value is iterable %}
                                        <pre class="mb-0" style="white-space: pre; max-height: 340px; overflow: auto;">{{ value|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                                    {% elseif value matches "\/\n/" %}
                                        <pre class="mb-0" style="white-space: pre; max-height: 340px; overflow: auto;">{{ value }}</pre>
                                    {% else %}
                                        <code>{{ value }}</code>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="text-center text-secondary">No result data.</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if other_attempts|length > 1 %}
        <div class="card mb-3">
            <div class="card-header">Other Attempts</div>
            <div class="table-responsive">
                <table class="table card-table table-striped mb-0 align-middle">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for other in other_attempts %}
                        {% if other.id != message.id %}
                            <tr>
                                <td class="text-center">{{ other.attempt }}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        {% if other.isFailure %}
                                            <svg fill="currentcolor" height="1em" width="1em" class="text-danger me-1 align-text-bottom text-danger" role="img" aria-label="Error:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                        {% else %}
                                            <svg fill="currentcolor" height="1em" width="1em" class="text-success me-1 align-text-bottom text-success" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                        {% endif %}
                                        <div class="ms-1">
                                            {% if other.isFailure %}
                                                <strong><abbr title="{{ other.failure.class }}">{{ other.failure.shortName }}</abbr></strong>:
                                                {{ other.failure.description }}
                                            {% else %}
                                                Success
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
