{% extends '@ZenstruckMessengerMonitor/layout.html.twig' %}

{% block title %}History{% endblock %}

{% block breadcrumb_items %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">History</li>
{% endblock %}

{% block content %}
    <div class="btn-toolbar mb-3 d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <strong class="me-3">Filters:</strong>
            <div class="btn-group me-2" role="group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <small class="text-body-secondary">Period:</small> {{ period.humanize }}
                </button>
                <ul class="dropdown-menu">
                    {% for p in periods %}
                        {% if p != period %}
                            <li><a class="dropdown-item" href="{{ path(app.current_route, app.request.query.all|merge({period: p.value})) }}">{{ p.humanize }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group me-2" role="group">
                {% set current_transport = app.request.query.get('transport', 'All') %}
                <button type="button" class="btn {{ current_transport != 'All' ? 'btn-outline-primary' : 'btn-light' }} dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <small class="text-body-secondary">Transport:</small> {{ current_transport }}
                </button>
                <ul class="dropdown-menu">
                    {% if 'All' != current_transport %}
                        <li><a class="dropdown-item" href="{{ path(app.current_route, app.request.query.all|merge({transport: null})) }}">All</a></li>
                    {% endif %}
                    {% for t in helper.transports.filter.excludeSync.excludeFailed.names %}
                        {% if t != current_transport %}
                            <li><a class="dropdown-item" href="{{ path(app.current_route, app.request.query.all|merge({transport: t})) }}">{{ t }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group me-2" role="group">
                {% set current_status = app.request.query.get('status', 'All') %}
                <button type="button" class="btn {{ current_status != 'All' ? 'btn-outline-primary' : 'btn-light' }} dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <small class="text-body-secondary">Status:</small> {{ current_status|title }}
                </button>
                <ul class="dropdown-menu">
                    {% for status in ['All', 'Success', 'Failed'] %}
                        {% if status != current_status %}
                            <li><a class="dropdown-item" href="{{ path(app.current_route, app.request.query.all|merge({status: status|lower})) }}">{{ status }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            {% if helper.schedules %}
                <div class="btn-group me-2" role="group">
                    {% set current_schedule = app.request.query.get('schedule', '_include') %}
                    {% set schedule_options = ['_include', '_exclude']|merge(helper.schedules.names) %}
                    <button type="button" class="btn {{ current_schedule != '_include' ? 'btn-outline-primary' : 'btn-light' }} dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <small class="text-body-secondary">Schedule:</small> {{ current_schedule|replace({'_include': '(include)', '_exclude': '(exclude)'}) }}
                    </button>
                    <ul class="dropdown-menu">
                        {% for s in schedule_options %}
                            {% if s != current_schedule %}
                                <li>
                                    <a class="dropdown-item" href="{{ path(app.current_route, app.request.query.all|merge({schedule: s})) }}">
                                        {{ s|replace({'_include': '(include)', '_exclude': '(exclude)'}) }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if app.request.query.get('type') %}
                <div class="btn-group me-2" role="group">
                    <a title="{{ app.request.query.get('type') }}" href="{{ path(app.current_route, app.request.query.all|merge({type: null})) }}" class="btn btn-outline-primary">
                        <small class="text-body-secondary">Message Type:</small>
                        <span class="me-2">{{ app.request.query.get('type')|split('\\')|last }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="align-text-bottom" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </div>
            {% endif %}
            {% if app.request.query.get('tag') %}
                <div class="btn-group me-2" role="group">
                    <a href="{{ path(app.current_route, app.request.query.all|merge({tag: null})) }}" class="btn btn-outline-primary">
                        <small class="text-body-secondary">Tag:</small>
                        <span class="me-2">{{ app.request.query.get('tag') }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="align-text-bottom" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </div>
            {% endif %}
            <div class="btn-group me-2" role="group">
                <a href="{{ path(app.current_route) }}" class="btn {{ app.request.query.all|length ? 'btn-outline-primary' : 'btn-light' }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-1 align-text-bottom" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    Reset
                </a>
            </div>
        </div>
        <div class="btn-group me-2" role="group">
            {% embed '@ZenstruckMessengerMonitor/_refresh_button.html.twig' %}
                {% block content %}
                    {{ parent() }}
                    <span class="ms-2">Refresh</span>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-lg-3">
            {{ include('@ZenstruckMessengerMonitor/components/snapshot.html.twig') }}
        </div>
        <div class="col-md-8 col-lg-9">
            {% set paginator = snapshot.messages.paginate(app.request.query.getInt('page', 1), 10) %}
            {% embed '@ZenstruckMessengerMonitor/components/messages.html.twig' with {messages: paginator} %}
                {% block card_header %}
                    Messages
                    <em class="text-secondary">Page {{ paginator.currentPage }} of {{ paginator.pageCount }} ({{ paginator.totalCount }} total)</em>
                {% endblock %}
            {% endembed %}
            {% if paginator.haveToPaginate %}
                <nav aria-label="Message Pagination" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item{{ 1 == paginator.currentPage ? ' disabled' }}">
                            <a href="{{ path(app.current_route, app.request.query.all|merge({page: paginator.previousPage|default(1)})) }}" class="page-link">Previous</a>
                        </li>
                        <li class="page-item{{ paginator.lastPage == paginator.currentPage ? ' disabled' }}">
                            <a class="page-link" href="{{ path(app.current_route, app.request.query.all|merge({page: paginator.nextPage|default(paginator.lastPage)})) }}">Next</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
