<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block meta_title %}Messenger Monitor: {% block title %}{% endblock %}{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,{{ include('@ZenstruckMessengerMonitor/icon.svg.twig')|url_encode }}">

    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <style>
            abbr[title] {
                text-decoration: none;
                border-bottom: 1px dotted;
            }

            .card-alert {
                border: 0;
                border-radius: 0;
            }

            .card-table {
                margin-bottom: 0;
            }
            .card-table tbody tr:last-child td, .card-table tbody tr:last-child th {
                border-bottom: 0;
            }
            .card-table tbody tr:last-child td:first-child, .card-table tbody tr:last-child th:first-child {
                border-bottom-left-radius: var(--bs-card-border-radius);
            }
            .card-table tbody tr:last-child td:last-child {
                border-bottom-right-radius: var(--bs-card-border-radius);
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelectorAll('.message-details').forEach(element => {
                    element.addEventListener('click', (event) => {
                        event.preventDefault();

                        fetch(element.getAttribute('href'))
                            .then(response => response.text())
                            .then(html => {
                                const modal = new bootstrap.Modal(document.getElementById('message-details-modal'));
                                const modalContent = modal._element.querySelector('.modal-content');

                                modalContent.innerHTML = html;
                                modal.show();
                            })
                            .catch(error => console.error('Error:', error))
                        ;
                    });
                });
            });
        </script>
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="{{ path('zenstruck_messenger_monitor_dashboard') }}" class="navbar-brand">
                {{ include('@ZenstruckMessengerMonitor/icon.svg.twig', {size: 24, class: 'd-inline-block align-text-top'}) }}
                Messenger Monitor
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% block navbar_menu %}
                    {% set route = app.current_route %}
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link{{ route == 'zenstruck_messenger_monitor_dashboard' ? ' active' }}"{% if route == 'zenstruck_messenger_monitor_dashboard' %} aria-current="page"{% endif %} href="{{ path('zenstruck_messenger_monitor_dashboard') }}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center nav-link{{ route == 'zenstruck_messenger_monitor_history' ? ' active' }}"{% if route == 'zenstruck_messenger_monitor_history' %} aria-current="page"{% endif %} href="{{ path('zenstruck_messenger_monitor_history') }}">
                                <svg fill="currentcolor" height="1em" width="1em" class="me-2"><use xlink:href="#history-icon"/></svg>
                                History
                            </a>
                        </li>
                        {% if schedules and schedules|length %}
                            {% set isRunning = true %}
                            {% for schedule in schedules %}
                                {% if not schedule.isRunning %}
                                    {% set isRunning = false %}
                                {% endif %}
                            {% endfor %}

                            <li class="nav-item">
                                <a class="d-flex align-items-center nav-link{{ route == 'zenstruck_messenger_monitor_schedules' ? ' active' }}"{% if route == 'zenstruck_messenger_monitor_schedules' %} aria-current="page"{% endif %} href="{{ path('zenstruck_messenger_monitor_schedules') }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-{{ isRunning ? 'success' : 'danger'}} me-2" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                    </svg>
                                    Schedule{% if schedules|length > 1 %}s{% endif %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-3">
        {% block breadcrumbs %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% block breadcrumb_items %}
                        <li class="breadcrumb-item"><a href="{{ path('zenstruck_messenger_monitor_dashboard') }}">Dashboard</a></li>
                    {% endblock %}
                </ol>
            </nav>
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
{% block footer %}
    <footer class="p-5 bg-body-secondary text-center small">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-1 text-danger" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        Enjoying this tool? Consider <a href="https://github.com/sponsors/kbond" target="_blank">sponsoring me (Kevin Bond) on GitHub</a>!
    </footer>
{% endblock %}
{% block svg_icons %}
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
        <symbol id="history-icon" viewBox="0 0 16 16">
            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
        </symbol>
        <symbol id="search-icon" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </symbol>
        <symbol id="play-icon" viewBox="0 0 16 16">
            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </symbol>
    </svg>
{% endblock %}
{% block message_details_modal %}
    <div class="modal fade" id="message-details-modal" tabindex="-1" aria-labelledby="message-details-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}
</body>
</html>
