{% extends '@ZenstruckMessengerMonitor/layout.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block breadcrumb_items %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">Schedule</li>
{% endblock %}

{% block content %}
    <div class="card position-relative mb-3">
        <div class="card-header position-relative">
            {% embed '@ZenstruckMessengerMonitor/_refresh_button.html.twig' %}
                {% block class %}{{ parent() }} btn-outline-secondary position-absolute translate-middle end-0 top-50{% endblock %}
            {% endembed %}
            <ul class="nav nav-tabs card-header-tabs">
                {% for item in schedules %}
                    <li class="nav-item position-relative mx-2" role="presentation">
                        {% if item.running %}
                            <span class="z-2 position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                {{ item.workers|length }} <span class="visually-hidden">workers running this schedule</span>
                            </span>
                        {% else %}
                            <span class="z-2 position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                0 <span class="visually-hidden">workers running this schedule</span>
                            </span>
                        {% endif %}

                        <a href="{{ path('zenstruck_messenger_monitor_schedule', {name: item.name}) }}" class="nav-link{{ item.name == schedule.name ? ' active' }}">
                            {{ item.name|humanize }} Schedule
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-content">
            {% if not schedule.running %}
                <div class="card-alert card-text alert alert-danger d-flex align-items-center" role="alert">
                    <svg fill="currentcolor" height="1em" width="1em" class="me-2 align-text-bottom" role="img" aria-label="Error:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        There are no workers running this schedule.
                    </div>
                </div>
            {% endif %}
            <div class="table-responsive">
                <table class="table card-table table-striped text-nowrap align-middle">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Message</th>
                        <th colspan="2" class="text-center">Trigger</th>
                        <th class="text-center"><abbr title="Number of runs stored in history">Runs</abbr></th>
                        <th>Last Run</th>
                        <th class="text-center">Last Duration</th>
                        <th class="text-center">Last Memory</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in schedule %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>
                                {%  for message in task.messages %}
                                    {% set type = message.type %}

                                    <abbr title="{{ type }}">{{ type.shortName }}</abbr>

                                    {% if type.description %}
                                        <br><small class="text-secondary">{{ type.description }}</small>
                                    {% endif %}

                                    {% if message.redispatch %}
                                        <br>
                                        <small>
                                            Dispatched on:
                                            {% for t in message.redispatchTransports %}
                                                <span class="badge text-bg-secondary">{{ t }}</span>
                                            {% endfor %}
                                        </small>
                                    {% endif %}
                                    {% if not loop.last %}<hr class="border-secondary-subtle my-1">{% endif %}
                                {% endfor %}
                            </td>
                            {% set trigger = task.trigger %}
                            <td>
                                <abbr title="{{ trigger.innerType }}">{{ trigger.innerType.shortName }}</abbr>
                                {% if trigger.decoratorTypes|length %}
                                    <br>
                                    <small class="text-secondary">
                                        Decorators:
                                        {% for decorator in trigger.decoratorTypes %}
                                            <abbr title="{{ decorator }}">{{ decorator.shortName }}</abbr>
                                            {% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    </small>
                                {% endif %}
                            </td>
                            <td>
                                {% if trigger.cron %}
                                    {{ cron_humanizer.humanize(trigger.get, trigger.inner, app.locale)|raw }}
                                {% else %}
                                    {{ trigger.type.description|capitalize }}
                                {% endif %}
                            </td>

                            {% set history = task.history %}

                            <td class="text-center">
                                {{ history.totalCount }}

                                {% if history.failureCount %}
                                    <em>(<strong class="text-danger">{{ history.failureCount }}</strong> failures)</em>
                                {% endif %}
                            </td>

                            {% set message = history.messages.first %}

                            <td{% if message %} class="{{ message.isFailure ? 'text-danger' : 'text-success'}}"{% endif %}>
                                {% if message and message.isFailure %}
                                    <svg fill="currentcolor" height="1em" width="1em" class="me-1 align-text-bottom" role="img" aria-label="Error:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                {% elseif message %}
                                    <svg fill="currentcolor" height="1em" width="1em" class="me-1 align-text-bottom" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                {% endif %}

                                {% if message and helper.timeFormatter %}
                                        <abbr title="{{ message.finishedAt|date('c') }}">{{ helper.timeFormatter.formatDiff(message.finishedAt) }}</abbr>
                                {% elseif message %}
                                    {{ message.finishedAt|date('c') }}
                                {% else %}
                                    <em class="text-secondary">Never</em>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if message and helper.canFormatDuration %}
                                    <abbr title="{{ message.timeToHandle }}s">{{ helper.timeFormatter.formatDuration(message.timeToHandle) }}</abbr>
                                {% elseif message %}
                                    {{ message.timeToHandle }}s
                                {% else %}
                                    <em class="text-secondary">-</em>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if message %}
                                    {{ message.memoryUsage }}
                                {% else %}
                                    <em class="text-secondary">-</em>
                                {% endif %}
                            </td>
                            <td>
                                {% if message %}
                                    <a href="{{ path('zenstruck_messenger_monitor_detail', {id: message.id}) }}" class="btn btn-sm btn-secondary d-inline-flex align-items-center message-details">
                                        <svg fill="currentcolor" height="1em" width="1em" class="me-2"><use xlink:href="#search-icon"/></svg>
                                        Details...
                                    </a>
                                    <a href="{{ path('zenstruck_messenger_monitor_history', {tag: ['schedule', schedule.name, task.id]|join(':')}) }}" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                                        <svg fill="currentcolor" height="1em" width="1em" class="me-1"><use xlink:href="#history-icon"/></svg>
                                        History
                                    </a>
                                {% endif %}
                                {% if transports|length %}
                                    <div class="dropdown d-inline-block position-static">
                                        <button class="btn btn-sm btn-secondary dropdown-toggle d-inline-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg fill="currentcolor" height="1em" width="1em" class="me-1"><use xlink:href="#play-icon"/></svg>
                                            <span class="me-1">Trigger</span>
                                        </button>
                                        <ul class="dropdown-menu" data-boundary="viewport">
                                            {% for t in transports.names %}
                                                <li><a class="dropdown-item ajax-toast-trigger" data-success="Successfully triggered scheduled task" data-fail="Failed to trigger scheduled task" data-token="{{ csrf_token(['trigger', task.id, t]|join('-')) }}" href="{{ path('zenstruck_messenger_monitor_schedule_trigger', {name: schedule.name, id: task.id, transport: t}) }}">{{ t }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
